.containerForm {
  display: grid;
  grid-template-columns: minmax(min-content, 40rem);
  margin: 2rem;
  justify-content: center;
}

.containerForm h1 {
  color: #13b1e7;
}

@media screen and (min-width: 700px) {
  .containerForm {
    display: grid;
    grid-template-columns: minmax(min-content, 60rem);
    justify-content: center;
  }
  .containerForm h1 {
    grid-row: 1/1;
  }
}

@media screen and (min-width: 1000px) {
  .containerForm {
    margin: 2rem auto;
    max-width: 75rem;
  }
}
